## FOR LOOPS

(iterate or for repetative tasks)
 
for item in object:
    statement to do stuffs

 # Example 1

In [1]:
 
list1 = [1,2,3,4,5,6,7,8,9,10]

In [2]:
list1[0]

1

In [3]:
list1[1]

2

In [4]:
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [5]:
# Example 2 
10 % 2

0

## Example 2 

printout the even numbers and odd numbers in the list

In [6]:
for num in list1:
    if num % 2 == 0:
        print(f"The number {num} is an even number")
    else:
        print(f"The number {num} is an odd number")

The number 1 is an odd number
The number 2 is an even number
The number 3 is an odd number
The number 4 is an even number
The number 5 is an odd number
The number 6 is an even number
The number 7 is an odd number
The number 8 is an even number
The number 9 is an odd number
The number 10 is an even number

## Example 3

Add all the items in a list together and display the result

In [7]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
list_sum = 0

for num in list1:
    list_sum = list_sum + num

In [11]:
print(list_sum)

55

## Example 4

Let's see how we can use for loops with strings

In [12]:
for letter in "This is a string":
    print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g

## Example 5
iterate through a tuple and print out the items there

In [13]:
tup = (1, 2, 3, 4, 5)

for t in tup:
    print(t)

1
2
3
4
5

## Example 6
print out all the sum of the even numbers and the odd numbers in a list

In [14]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
# doing it manually for odd number

list1[1] + list1[3] + list1[5] + list1[7] + list1[9]

30

In [22]:
# doing it manually for even number

list1[2] + list1[4] + list1[6] + list1[8] + list1[0]

25

In [23]:
# using for loop approach
even_sum = 0
odd_sum = 0

for num in list1:
    if num % 2 == 0:
        even_sum += num    # same as even_sum = even_sum + num
    else:
        odd_sum += num
print(f"Total even sum is: {even_sum}")
print(f"Total odd sum is: {odd_sum}")

Total even sum is: 30
Total odd sum is: 25

In [24]:
list1 = [1, 2, 3, 4, 7, 5, 6, 7, 8, 9, 10]

In [25]:
list1

[1, 2, 3, 4, 7, 5, 6, 7, 8, 9, 10]

In [26]:
list1[1] + list1[3] + list1[5] + list1[7] + list1[7] + list1[9]

34

In [27]:
list1[0] + list1[2] + list1[4] + list1[6] + list1[8]

25

In [28]:
# Using for loop approach
even_sum = 0
odd_sum = 0

for num in list1:
    if num % 2 == 0:
        even_sum += num  #same as: even_sum = even_sum + num
    else:
        odd_sum += num

print(f"Total even sum is: {even_sum}")
print(f"Total odd sum is: {odd_sum}")

Total even sum is: 30
Total odd sum is: 32