#strings formatting

using . format() method

In [1]:
print("This is a string with an {}". format("insert"))

This is a string with an insert

In [2]:
print("first object {a}, second object: {b}, Third object{c}". format(a=1, b="Two", c=12.3))

first object 1, second object: Two, Third object12.3

 using formatted strings literals (f-strings)

In [8]:
name = "oladapo"

print(f"He said is name is {name}.")

He said is name is oladapo.

In [9]:
age = 32
cgpa = 5.0

In [10]:
age

32

In [11]:
cgpa

5.0

In [12]:
print(f"{name} is {age}years and he has a cgpa of {cgpa} in is 100l first semester")

oladapo is 32years and he has a cgpa of 5.0 in is 100l first semester

using concatination method (you cant concatinate  string and interger or floating point together unless you turn it to string)

In [13]:
print(name + " is " + str(age) + "years and he has a cgpa of " + str(cgpa) + " in is 100l first semester")

oladapo is 32years and he has a cgpa of 5.0 in is 100l first semester